.btn-custom-primary {
  background-color: #0fb893d0 !important;
  border:1px solid #0fb893d0 !important;
  color: #fff !important;
}

.btn-custom-primary:hover {
  background-color: #0fb893f0 !important;
  border:1px solid #0fb893f0 !important;
  color: #fff !important;
}

.font-light {
  font-weight: 400;
}
